__pycache__/MyEvaluator_copy.cpython-311.pyc
__pycache__/MyEvaluator_copy.cpython-311.pyc
__pycache__/MyLangLexer.cpython-311.pyc
__pycache__/MyLangListener.cpython-311.pyc
__pycache__/MyLangParser.cpython-311.pyc
__pycache__/MyEvaluator.cpython-311.pyc
__pycache__/MyLangLexer.cpython-311.pyc
__pycache__/MyLangListener.cpython-311.pyc
__pycache__/MyLangParser.cpython-311.pyc
__pycache__/MyEvaluator.cpython-311.pyc
__pycache__/MyLangLexer.cpython-311.pyc
__pycache__/MyLangListener.cpython-311.pyc
__pycache__/MyLangParser.cpython-311.pyc

venv
__pycache__/MyEvaluator.cpython-311.pyc
__pycache__/MyGlobals.cpython-311.pyc
__pycache__/MyLangLexer.cpython-311.pyc
__pycache__/MyLangListener.cpython-311.pyc
__pycache__/MyLangParser.cpython-311.pyc
__pycache__/testPrint.cpython-311-pytest-8.3.4.pyc
