__pycache__/MyEvaluator_copy.cpython-311.pyc
__pycache__/MyEvaluator_copy.cpython-311.pyc
__pycache__/MyLangLexer.cpython-311.pyc
__pycache__/MyLangListener.cpython-311.pyc
__pycache__/MyLangParser.cpython-311.pyc
